{% extends "base.html.twig" %}

{% block title %}Bienvenue{% endblock title %}

{% block body %}

    <!-- Masthead -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <img class="mb-3 mb-lg-0" src="{{ asset('img/logo-evenement.png') }}" alt="">
                    <h1 class="text-uppercase">OC'EVENEMENT</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-light mb-5">Des événements sur-mesure et en pleine nature. Au pied du Pic Saint Loup, dans les bois de Saint Jean de Cuculles</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">MONTPELLIER NORD</a>
                </div>
            </div>
        </div>
    </header>


    <!-- section concept 1 -->
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">L'événementiel, un savoir faire</h2>
                    <hr class="divider light my-4">
                    <p class="text-light font-italic mb-4">
                        "Nous avons pour vocations d'imaginer et de construire ensemble des événements innovant et corespondant à un groupe.
                        L'idée est de se retouver tous ensemble, dans la convivialité, dans la proximité, dans un espace chaleureux et en pleine nature pour vivre une expérience de groupe unique."</p>
                </div>
            </div>
        </div>
    </section>

    <!-- concept 2 Section -->
    <section class="page-section bg-light" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Ouvert à tous</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="fas fa-4x text-primary mb-4 logo-service logo-incentive"></div>
                        <h3 class="h4 mb-2">Incentive building</h3>
                        <p class="text-muted mb-0">Les journées incentives visent à renforcer les liens d'une équipe</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="fas fa-4x text-primary mb-4 logo-service logo-inte"></div>
                        <h3 class="h4 mb-2">Journées intégration</h3>
                        <p class="text-muted mb-0">Les journées d'intégration s'adressent plutôt aux écoles</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="fas fa-4x text-primary mb-4 logo-service logo-sur-mesure"></div>
                        <h3 class="h4 mb-2">Evénement personalisé</h3>
                        <p class="text-muted mb-0">Evénement et animations construit sur-mesure</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="fas fa-4x text-primary mb-4 logo-service logo-open-event"></div>
                        <h3 class="h4 mb-2">Evénement ouvert</h3>
                        <p class="text-muted mb-0">Nous organisons également des événements ouvert au public </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- La Team Section -->
    <section class="page-section bg-blue text-light team-choc" id="team-choc">
        <div class="container text-center">
            <h2 class="mb-5">LA TEAM DE CH'OC !</h2>
            <hr class="divider light my-4">
            <div class="row pt-5">
                <div class="col-lg-4">
                    <img src="{{ asset('img/portrait-1.jpg') }}" alt="Avatar">
                    <h4 class="mt-5 font-weight-bolder">Franck Potiron</h4>
                    <p>Proffessionel de l'animation</p>
                    <hr class="divider light my-4">
                    <p class="font-italic citation">"Il faut parfois savoir écouter l'enfant qui sommeil en chacun de nous"</p>
                </div>
                <div class="col-lg-4">
                    <img src="{{ asset('img/portrait-2.jpg') }}" alt="Avatar">
                    <h4 class="mt-5 font-weight-bolder">Léo Hugues</h4>
                    <p>Créative Technologiste</p>
                    <hr class="divider light my-4">
                    <p class="font-italic citation">"La seule limite c'est l'imagination"</p>
                </div>
                <div class="col-lg-4">
                    <img src="{{ asset('img/portrait-3.jpg') }}" alt="Avatar">
                    <h4 class="mt-5 font-weight-bolder">Corentin</h4>
                    <p>Coach Sportif</p>
                    <hr class="divider light my-4">
                    <p class="font-italic citation">"Mieux vaut cuire ses carottes lentement plutôt que de les manger cru"</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Le guide Section -->
    <section class="page-section bg-light" id="guide">
        <div class="container">
            <h2 class="text-center mt-0">LE GUIDE</h2>
            <hr class="divider my-4">
            <div class="row presta-step">
                <div class="mt-5 d-inline-block col-md-8">
                    <div class="fas fa-4x text-primary mb-4 logo-step col-lg-12">LES ANIMATIONS </div>
                    <div class="col-lg-11 offset-1 d-inline-block">
                        <h3 class="h4 mb-2">Le choix des animations :</h3>
                        <p class="text-muted mb-0">
                            Pour construire votre événement vous pouvez vous inspirer des différentes journées type consultable librement sur le site.
                            Mieux vaut cependant se rencarder directement avec Frank pour connaître ce qu'il se fait de mieux en ce moment !
                        </p>
                    </div>
                    <div class="col-lg-11 offset-1 mt-5">
                        <h3 class="h4 mb-2">Un éventails de possibilité, pour un événement unique</h3>
                        <p class="text-muted mb-0">
                            Destiné aux entreprises, l'incentivebuilding permet de resserer les liens entre les membres d'une équipe
                            Vos collaborateurs ont besoins d'être motivés, vous souhaitez apporter plus de cohésion au sein de
                            votre société, vous voulez récompenser les bons résultats obtenus par votre équipe vente ? nous vous
                            proposons différentes idée incentive qui répondent parfaitement à vos attentes;
                            A l'écoute de vos envies et de vos objectifs, des professionels se chargent d'organiser une journée
                            d'incentive à la carte. Des activités à l'image de votre entreprise dans un environnement calme et
                            agréable, au pied du Pic Saint Loup.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 d-inline-block text-center align-top pt-5">
                    <h2 class="key-word pb-4 pt-4"> Espace naturel sauvage Pic saint Loup plein air aventure sensation partage laser-game challenge travail d'equipe journee evenement animation spectacle recompense se retrouver federer</h2>
                    <a class="btn btn-primary btn-xl js-scroll-trigger float-right" href="#portfolio">Journée type</a>
                </div>
                <div class="col-lg-12">
                    <div class="mt-5 col-lg-8">
                        <div class="fas fa-4x text-primary mb-4 logo-step">LA RESTAURATION</div>
                        <div class="col-lg-11 offset-1">
                            <h3 class="h4 mb-2">Le terroire</h3>
                            <p class="text-muted mb-0">
                                -- Possibilité de restauration sur mesure avec nos deux traiteurs.
                            </p>
                            <h3 class="h4 mb-2 mt-5">Le raffiné</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mt-5 col-lg-8">
                        <div class="fas fa-4x text-primary mb-4 logo-step">LES EXTRAS</div>
                        <div class="col-lg-11 offset-1">
                            <h3 class="h4 mb-2">Evénement personalisé</h3>
                            <p class="text-muted mb-0">
                                Possibilité d'accéder à un espace équipé pour faire une présentation d'entreprise ou autre. (rétroprojecteur / enceinte / micro / chaise...)
                            </p>
                            <h3 class="h4 mb-2 mt-5">Possibilité d'hébergement</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Demi-journée
                            </div>
                            <div class="project-name">
                                OC'LANTA
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action Section -->
    <section class="page-section bg-yellow text-white">
        <div class="container text-center">
            <h2 class="mb-4">Venez nous rendre visite, ou appelez nous !</h2>
            <a class="btn btn-light btn-xl" href="#contact">Contact</a>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="page-section bg-light" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Rentrons en contact !</h2>
                    <hr class="divider my-4">
                    <p class="text-muted mb-5">Vous souhaitez organiser un événement pour votre entreprise ? Ecrivez-nous, ou appelez nous, nous pourrons en discuter.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>+336 19 98 53 86</div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in anchor text AND the link below! -->
                    <a class="d-block" href="mailto:contact@yourwebsite.com">evenement@oc-aventures.com</a>
                </div>
            </div>
        </div>
    </section>


{% endblock body %}